@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-koya-background text-koya-text;
  }
  
  body.dimmed {
    @apply bg-black;
  }
  
  body.dimmed .movie-card,
  body.dimmed .navbar,
  body.dimmed h2 {
    opacity: 0.3;
    transition: opacity 0.3s ease;
  }
  
  body.dimmed #video-container {
    opacity: 1;
  }
}

.movie-card {
  @apply relative overflow-hidden transition-transform duration-200 ease-out;
}

.movie-card:hover {
  @apply transform scale-105 z-10;
}

.category-row {
  @apply px-16;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
}

.category-row::-webkit-scrollbar {
  display: none;
}

.video-player-enter {
  @apply animate-scale-up;
}