@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-koya-background text-koya-text;
  }
}

.movie-card {
  @apply relative overflow-hidden transition-transform duration-200 ease-out;
}

.movie-card:hover {
  @apply transform scale-105 z-10;
}

.category-row {
  @apply -mx-12 px-12;
  overflow-x: auto;
  scrollbar-width: none;
  width: calc(100% + 6rem);
}

.category-row::-webkit-scrollbar {
  display: none;
}